<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MySection" type="XmlUtils.CMySection, XmlUtils"/>
  </configSections>

  <MySection>
    <add key="First" value="yes"/>
    <add key="KeyCoderName" value=""/>
    <add key="IP" value=""/>
    <add key="Port" value=""/>
  </MySection>
</configuration>
